.test {
	height: 100%;
	width: 500px;
	overflow-y: scroll;
	background-color: red;
	position: fixed;
}

.content {
	height: 200px;
	width: 100%;
	background-color: blue;
	margin: 20px 0px;
	color: white;
	line-height: 200px;
	text-align: center;
	font-size: 100px;
}

.button {
	font-size: 30px;
}
