$global-padding-sides: 25px;
$main-content-width: 900px;
$left-ad-width: 130px;
$right-ad-width: 350px;
$title-bar-height: 130px;
$max-logo-height: 60px;
$max-logo-width: 300px;
$messages-font-size: 20px;
$title-shadow-size: 0px;

@mixin calc($key, $value) {
	#{$key}: -webkit-calc(#{$value});
	#{$key}: -moz-calc(#{$value});
	#{$key}: calc(#{$value});
}

@mixin transform-translateY($top : 0%){
	-webkit-transform: translateY($top);
	-ms-transform: translateY($top);
	transform: translateY($top);
}

@mixin fullscreen-background-cover($img-path) {
	background: url($img-path) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin boxshadow() {
	-webkit-box-shadow: inset 1px 4px 9px -6px;
	-moz-box-shadow:: inset 1px 4px 9px -6px;
	box-shadow: inset 1px 4px 9px -6px;
}

.main-container {
	width: 100%;
	height: 100%;
	position: absolute;
	@include fullscreen-background-cover('../../assets/coca-cola.jpg');
}

.main {
	position: relative;
	// width: $main-content-width;
	@include calc('width', '100% - ' + ($left-ad-width + $right-ad-width));
	height: 100%;
	background-color: white;
	overflow-y: hidden;
	left: $left-ad-width;

	.title-bar {
		background-color: white;
		padding: 0 $global-padding-sides;
		height: $title-bar-height;
		font: 0/0 a;
		margin-bottom: $title-shadow-size;
		// @include boxshadow();

		// http://stackoverflow.com/questions/18516317/vertically-align-an-image-inside-a-div-with-responsive-height
		&:before {
			content: ' ';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		.logo {
			img {
				// http://stackoverflow.com/a/17183996
				display: block;
				max-width: $max-logo-width;
				max-height: $max-logo-height;
				width: auto;
				height: auto;
			}

			display: inline-block;
			vertical-align: middle;
		}

		.message-order {
			position: relative;
			top: 50%;
			@include transform-translateY(-50%);
			float: right;
		}
	}

	.messages {
		background-color: rgb(250, 250, 250);
		@include calc('height', '100% - ' + ($title-bar-height + $title-shadow-size));
		padding-top: 50px;
		padding-left: $global-padding-sides;
		padding-right: $global-padding-sides;
		overflow-y: scroll;
		@include boxshadow();
		// box-shadow: inset 1px 4px 9px -6px;

		.message {
			margin-bottom: 40px;
			line-height: $messages-font-size + 5px;
			.message-content {
				font-size: $messages-font-size;
			}
		}
	}
}
