$global-padding: 0 25px;

@mixin height-calc($value) {
	height: -webkit-calc(#{$value});
	height: -moz-calc(#{$value});
	height: calc(#{$value});

}

.main {
	width: 900px;
	height: 100%;
	overflow-y: hidden;
	position: fixed;
	margin-left: 130px;

	.title-bar {
		background-color: #fcf;
		padding: $global-padding;
		height: 130px;
		font: 0/0 a;

		// http://stackoverflow.com/questions/18516317/vertically-align-an-image-inside-a-div-with-responsive-height
		&:before {
			content: ' ';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		.logo {
			img {
				// http://stackoverflow.com/a/17183996
				display: block;
				max-width: 300px;
				max-height: 60px;
				width: auto;
				height: auto;
			}

			display: inline-block;
			vertical-align: middle;
		}

		.message-order {
			// display: inline-block;
			// vertical-align: middle;
			float: right;
		}
	}

	.messages {
		background-color: #ffc;
		@include height-calc("100% - 130px");
		padding: $global-padding;
		overflow-y: scroll;
	}
}
