<div class="main">
	<div class="title-bar">
		<div class="logo">
			<img src="http://placehold.it/280x55" />
		</div>
		<div class="message-order">
			<md-tab-group>
				<md-tab label="Recent"></md-tab>
				<md-tab label="Highest rating"></md-tab>
			</md-tab-group>
		</div>
	</div>
	<div class="messages">
		<intrct-message [author]="'Valentina'"
						[content]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada porta mi quis bibendum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec molestie, eros eget.'"></intrct-message>
	</div>
</div>
