<div class="main-container">
	<div class="main">
		<div class="title-bar">
			<div class="logo">
				<img src="../../assets/ted-logo.png" />
			</div>
			<div class="message-order">
				<md-tab-group>
					<md-tab label="Recent"></md-tab>
					<md-tab label="Best"></md-tab>
				</md-tab-group>
			</div>
		</div>
		<div class="messages">
			<div class="message" *ngFor="let i of [1,2,3,4,5,6]">
				<intrct-message [author]="'Valentina'">
					<span class="message-content">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada porta mi quis bibendum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec molestie, eros eget.
					</span>
				</intrct-message>
			</div>
		</div>
	</div>
</div>
