<md-sidenav-container>
	<md-sidenav [mode]="mode"
					[opened]="opened"
					class="primary-background"
					#sidebar>
		<a class="logo">
		</a>
		<div class="menu">
			<a>
				Pricing
			</a>
			<a>
				Feature
			</a>
			<a>
				Testimonials
			</a>
			<a>
				Contacts
			</a>
			<a>
				About
			</a>
		</div>
		<div class="profile">
			<a>
				LOGIN <i class="fa fa-user fa-fw"></i>
			</a>
			<a>
				REGISTER <i class="fa fa-user-plus fa-fw"></i>
			</a>
		</div>
		<div class="social">
			<a>
				<i class="fa fa-facebook fa-lg fa-fw"></i>
			</a>
			<a>
				<i class="fa fa-linkedin fa-lg fa-fw"></i>
			</a>
			<a>
				<i class="fa fa-youtube fa-lg fa-fw"></i>
			</a>
			<a>
				<i class="fa fa-instagram fa-fw"></i>
			</a>
		</div>
		<div class="trademark">
			<i class="fa fa-copyright fa-fw"></i> INTRCT 2017
		</div>
	</md-sidenav>
	<div class="content">
		<i class="fa fa-bars menu"
						*ngIf="isMobile"
						(click)="openSidebar(sidebar)"></i>
		<div class="event-selector"
						fxLayout="column">
			<div class="title"
							fxLayoutGap="300px"
							fxFlex="100">
				INTRCT Audience Engagement and Interaction Software
			</div>
			<div fxFlex="100">
				<md-input-container color="primary"
								class="intrct-light">
					<i mdSuffix
									class="fa fa-search"></i>
					<input mdInput
									placeholder="Enter event code here"
									type="text" />
				</md-input-container>
			</div>
		</div>
	</div>
</md-sidenav-container>
<router-outlet></router-outlet>
