@import "../intrct-theme.scss";

@include intrct-dark-background($intrct-dark-theme);

html,
body,
material-app,
md-sidenav-container,
.my-content {
	margin: 0;
	width: 100%;
	height: 100%;
}

md-sidenav {
	width: 215px;
}
