<md-sidenav-container>
	<md-sidenav mode="side"
					opened="true"
					class="dark-background"
					#sidebar>
		<a class="logo">
		</a>
		<div class="menu">
			<a>
				Pricing
			</a>
			<a>
				Feature
			</a>
			<a>
				Testimonials
			</a>
			<a>
				Contacts
			</a>
			<a>
				About
			</a>
		</div>
		<div class="profile">
			<a>
				LOGIN <i class="fa fa-user fa-fw"></i>
			</a>
			<a>
				REGISTER <i class="fa fa-user-plus fa-fw"></i>
			</a>
		</div>
		<div class="social">
			<a>
				<i class="fa fa-facebook fa-lg fa-fw"></i>
			</a>
			<a>
				<i class="fa fa-linkedin fa-lg fa-fw"></i>
			</a>
			<a>
				<i class="fa fa-youtube fa-lg fa-fw"></i>
			</a>
			<a>
				<i class="fa fa-instagram fa-fw"></i>
			</a>
		</div>
		<div class="trademark">
			<i class="fa fa-copyright fa-fw"></i> INTRCT 2017
		</div>
	</md-sidenav>
	<div class="my-content"></div>
</md-sidenav-container>
<router-outlet></router-outlet>
