@import '~@angular/material/theming';
@import '../../assets/intrct-theme.scss';

@include intrct-primary-background($intrct-theme);

@mixin logo-dimensions($width, $height) {
	width: $width;
	height: $height;
}

@mixin position-logo($right, $top, $offset) {
	position: absolute;
	margin-right: $offset;
	right: $right;
	top: $top;
}

@mixin fullscreen-background-cover($img-path) {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url($img-path) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin transform-translate($left : 0%, $top : 0%){
	-webkit-transform: translate($left, $top);
	-ms-transform: translate($left, $top);
	transform: translate($left, $top);
}

$xs: 599px;

$right-offset: 37px;
$sidebar-width: 215px;
$logo-size: (width: 100px, height:35px);
$logo-position: (right: 0px, top: 51px, offset: $right-offset);
$font-size: 14px;
$line-height: $font-size + 0px;
$line-spacing: 11px;
$menu-top-offset: 195px;
$profile-top-offset: 115px;
$social-top-offset: 115px;
$trademark-font-size: 9px;
$trademark-top-offset: 20px;
$trademark-bottom-offset: 0px;

md-sidenav-container,
.content {
	margin: 0;
	position: fixed;
	width: 100%;
	height: 100%;
}

md-sidenav {
	width: $sidebar-width;
	padding-right: $right-offset;
	color: white !important;

	.logo {
		background: url('/assets/Logo_white.svg');
		@include logo-dimensions($logo-size...);
		@include position-logo($logo-position...);
	}

	div {
		text-align: right;

		>a {
			&:not(:first-child) {
				margin-top: $line-spacing;
			}
			line-height: $line-height;
			display: block;
			cursor: pointer;
			font-size: $font-size;
		}
	}

	.menu {
		padding-top: $menu-top-offset;
	}

	.profile {
		padding-top: $profile-top-offset;
	}

	.social {
		padding-top: $social-top-offset;
		line-height: 0px;

		a {
			margin-top: 0px !important;
			display: inline-block;
		}
	}

	.trademark {
		padding-top: $trademark-top-offset;
		padding-bottom: $trademark-bottom-offset;
		font-size: $trademark-font-size;
		line-height: 0px;
	}
}

.content {
	@include fullscreen-background-cover('/assets/home.jpg');
	font-family: 'Montserrat', sans-serif;

	// position: relative;

	.menu {
		color: white;
		padding-top: 10px;
		padding-left: 10px;
	}

	.event-selector {
		color: white;
		position: absolute;
		width: 66%;
		padding-left: 20px;
		padding-right: 20px;
		top: 40%;
		left: 50%;
		@include transform-translate(-50%, -50%);

		.title {
			text-align: center !important;
			font-size: 34px;
			font-weight: 100;
			letter-spacing: 3px;
			line-height: 58px;
		}

		md-input-container {
			left: 50%;
			font-size: 16px;
			@include transform-translate(-50%);
		}
	}

	@media screen and (max-width: $xs) {
		.event-selector {
			width: 100%;
		}
		.title {
			width: 100%;
			font-size: 25px !important;
			line-height: 30px !important;
		}
	}
}
