$global-padding-sides: 35px;
$title-bar-height: 110px;
$padding-sides: 30px;
$new-message-height: 30px;
$max-logo-width: 220px;
$max-logo-height: 40px;

@mixin calc($key, $value) {
	#{$key}: -webkit-calc(#{$value});
	#{$key}: -moz-calc(#{$value});
	#{$key}: calc(#{$value});
}

@mixin boxshadow() {
	-webkit-box-shadow: inset 1px 4px 9px -6px;
	-moz-box-shadow:: inset 1px 4px 9px -6px;
	box-shadow: inset 1px 4px 9px -6px;
}

.main-container {
	position: absolute;
	width: 100%;
	height: 100%;

	.title-bar {
		position: relative;
		top: 0;
		width: 100%;
		background-color: white;
		padding: 0 $global-padding-sides;
		height: $title-bar-height;
		// font: 0/0 a;
		font-size: 35px;
		margin-left: -10px;

		// http://stackoverflow.com/questions/18516317/vertically-align-an-image-inside-a-div-with-responsive-height
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		.menu {
			color: rgb(117,117,117);
			margin: 0;
			padding: 0;
		}

		.logo {
			img {
				// http://stackoverflow.com/a/17183996
				display: block;
				max-width: $max-logo-width;
				max-height: $max-logo-height;
				width: auto;
				height: auto;
			}

			display: inline-block;
			vertical-align: middle;
			margin-left: 30px;
		}
	}

	.messages {
		background-color: rgb(250, 250, 250);
		position: relative;
		top: 0;
		overflow-y: scroll;
		height: 100%;
		padding: 20px $global-padding-sides;
		@include boxshadow();
		@include calc('height', '100% - ' + ($title-bar-height + $new-message-height));

		.message {
			margin-bottom: 50px;
		}

		.footer {
			width: 50%;
			text-align: center;
			margin: 0 auto;

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			img {
				display: inline-block;
				width: 100px;
				vertical-align: middle;
				margin-left: 20px;
			}

			vertical-align: middle;
			// margin-bottom: 50px;
		}
	}

	.new-message {
		position: relative;
		bottom: 0;
		border: 1px solid black;
		width: 100%;
		height: $new-message-height;
		font-size: $new-message-height;
	}
}
