$global-padding-sides: 35px;

$title-bar-height: 110px;
$max-logo-width: 220px;
$max-logo-height: 40px;
$title-bar-font-size: 35px;
$logo-left-margin: 30px;

$messages-vertical-padding: 20px;
$message-margin-bottom: 50px;
$footer-logo-width: 100px;
$footer-logo-margin-left: 20px;

$new-message-height: 70px;

@function toMobile($unit) {
	@return $unit/2;
}

@mixin calc($key, $value) {
	#{$key}: -webkit-calc(#{$value});
	#{$key}: -moz-calc(#{$value});
	#{$key}: calc(#{$value});
}

@mixin boxshadow() {
	-webkit-box-shadow: inset 1px 4px 9px -6px;
	-moz-box-shadow:: inset 1px 4px 9px -6px;
	box-shadow: inset 1px 4px 9px -6px;
}

.main-container {
	position: fixed;
	width: 100%;
	height: 100%;

	.title-bar {
		position: relative;
		top: 0;
		width: 100%;
		background-color: white;
		padding: 0 toMobile($global-padding-sides);
		// padding: 0 $global-padding-sides;
		height: toMobile($title-bar-height);
		// font: 0/0 a;
		font-size: toMobile($title-bar-font-size);
		// margin-left: -10px;

		// http://stackoverflow.com/questions/18516317/vertically-align-an-image-inside-a-div-with-responsive-height
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		.menu {
			color: rgb(117,117,117);
			margin: 0;
			padding: 0;
		}

		.logo {
			img {
				// http://stackoverflow.com/a/17183996
				display: block;
				max-width: toMobile($max-logo-width);
				max-height: toMobile($max-logo-height);
				width: auto;
				height: auto;
			}

			display: inline-block;
			vertical-align: middle;
			margin-left: toMobile($logo-left-margin);
		}
	}

	.messages {
		background-color: rgb(250, 250, 250);
		position: relative;
		top: 0;
		overflow-y: scroll;
		// Fix scrolling issue for iOS
		-webkit-overflow-scrolling: touch;
		height: 100%;
		padding: toMobile($messages-vertical-padding) toMobile($global-padding-sides);
		@include boxshadow();
		@include calc('height', '100% - ' + (toMobile($title-bar-height) + toMobile($new-message-height)));

		.message {
			margin-bottom: toMobile($message-margin-bottom);

			.message-content {
				// font-size: 30px;
			}
		}

		.footer {
			width: 50%;
			text-align: center;
			margin: 0 auto;

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			img {
				display: inline-block;
				width: toMobile($footer-logo-width);
				vertical-align: middle;
				margin-left: toMobile($footer-logo-margin-left);
			}

			vertical-align: middle;
			// margin-bottom: 50px;
		}
	}

	.new-message {
		position: relative;
		top: 0;
		border-width: 0;
		border-top: 1px solid rgb(117,117,117);
		width: 100%;
		height: toMobile($new-message-height);
		padding: toMobile(($new-message-height / 2));
		font-size: toMobile(($new-message-height / 2));
	}
}
