<h3 md-subheader
				*ngIf="message.sponsored">Sponsored</h3>
<md-list-item>
	<md-icon md-list-avatar
					class="not-clickable"
					*ngIf="message.sponsored">star_rate</md-icon>
	<md-icon md-list-avatar
					class="clickable"
					(click)="onThumbsUp()"
					*ngIf="!message.sponsored">thumb_up</md-icon>
	<md-icon md-list-avatar
					class="clickable"
					(click)="onThumbsDown()"
					*ngIf="!message.sponsored">thumb_down</md-icon>
	<h4 md-line>{{ message.author }}</h4>
	<p md-line>{{ message.content }}</p>
</md-list-item>
<md-divider></md-divider>
