$icon-size: 60px;
$icon-text-size: $icon-size - 30px;
$icon-color: purple;

@mixin triangle($size, $color) {
	content: ' ';
	width: 0;
	height: 0;
	border-top: $size solid $color;
	border-left: $size solid transparent;
}

.message {
	overflow: hidden;
	padding: 10px 0;

	.icon {
		float: left;
		border-radius: 50%;

		width: $icon-size;
		height: $icon-size;
		line-height: $icon-size;
		text-align: center;

		background: $icon-color;
		color: white;
		font-weight: bolder;
		font-size: $icon-text-size;
		text-align: center;
	}

	.content {
		margin-left: $icon-size + 10px;
	}
}
