$icon-size: 60px;
$icon-text-size: $icon-size - 30px;

.message {

	.icon {
		display: inline-block;
		border-radius: 50%;

		width: $icon-size;
		height: $icon-size;
		line-height: $icon-size;
		text-align: center;

		background: cyan;
		color: white;
		font-weight: bolder;
		font-size: $icon-text-size;
		text-align: center;
	}

	.content {
		display: inline-block;
	}

	background-color: white;
}
