<div class="message">
	<span class="icon">M</span>
	<!-- <span class="arrow"></span> -->
	<div class="content">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar sem et condimentum semper. Integer vestibulum orci lobortis neque ullamcorper.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar sem et condimentum semper. Integer vestibulum orci lobortis neque ullamcorper.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar sem et condimentum semper. Integer vestibulum orci lobortis neque ullamcorper.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar sem et condimentum semper. Integer vestibulum orci lobortis neque ullamcorper.
	</div>
</div>
