.message {
	&:after {
		content:"\000A";
		white-space: pre;
	}

	.icon {
		border-radius: 50%;

		width: 85px;
		height: 85px;
		line-height: 85px;
		text-align: center;

		background: cyan;
		color: white;
		font-weight: bolder;
		font-size: 38px;
		text-align: center;
	}

	background-color: white;
}
