<md-card class="warn">
	<md-card-title *ngIf="header">
		{{ header }}
	</md-card-title>
	<md-card-content>
		<form style="width: 100%;"
						novalidate
						(ngSubmit)="goToEvent(eventForm)"
						[formGroup]="eventForm">
			<table cellspacing="9"
							class="centered">
				<tr>
					<td>
						<md-input-container>
							<input mdInput
											formControlName="code"
											placeholder="Enter event code">
						</md-input-container>
					</td>
					<td>
						<button md-mini-fab
								type="submit"
								[disabled]="eventForm.invalid"
										color="warn"><md-icon>check</md-icon></button>
					</td>
				</tr>
			</table>
		</form>
	</md-card-content>
</md-card>
